.combo-base-select__control {
    border-radius: 10px !important;
    border: 1px solid #E1E1E1;
    font-weight: bold;
    width: 100%;
    height: 50px;
}

.form-social-two-fields {
    display: flex;
}

@media(min-width: 375px) {

    
}

@media(min-width: 1200px) {

  
}