.btn-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
 }
 
 .btn-btn-text {
   border-radius: 10px;
   background-color: #24231f;
   text-transform: uppercase;
   color: #FFF;
   width: 250px;
   height: 40px;
}
 
.btn-btn-text h6 {
   font-size: 10px;
}
 

