.auth-container {
  display: flex;
  padding: 20px 0 80px 30px;
  justify-content: center;
  background: url(~assets/images/background-login.svg) no-repeat bottom;
  background-size: 100%;
}

.auth-info {
  display: none;
}

@media (min-width: 1200px) {
  .auth-info-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-top: 30px;
    text-align: center;
  }

  .auth-info-subtile {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
    text-align: center;
  }

  .auth-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .auth-info img {
    width: 90%;
    border-radius: 50%;
  }
}
