.apae-catalog-container {
    padding: 20px 20px 80px 20px; 
}

.apae-catalog-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apae-catalog {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 30px 30px;
    justify-content: space-between;
}

@media(min-width: 768px) {

    .apae-catalog {
        grid-template-columns: repeat(auto-fill, 320px);
    }
}

@media(min-width: 1024px) {

    .apae-catalog {
        grid-template-columns: repeat(auto-fill, 300px);
    }
}

