.footer-container {
    height: 50px;
    color: #FFF;
    position: fixed;
    bottom:0;
    background-color: #2d769a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}