.btn-container {
   display: flex;
   justify-content: center;
}

.btn-text {
   border-radius: 10px 0px 0px 10px;
   background-color: #24231f;
   border: #24231f;
   text-transform: uppercase;
   color: #FFF;
   width: 200px;
   height: 70px;
   padding: 5px;
}

.btn-text h6 {
  font-size: 18px;
}

.btn-arrow {
   padding: 5px;
   background-color: #2d769a;
   border-radius: 0px 10px 10px 0;
   display: flex;
   justify-content: center;
   max-height: 70px;
}

.btn-arrow img {
  width: 50%;
}

@media (min-width: 576px) {
   .btn-text {
  
      width: 300px;
   }
}

@media (min-width: 768px) {
   .btn-text {
  
      width: 400px;
   }
}

@media (min-width: 1024px) {
   .btn-text {
  
      width: 500px;
   }
}

@media (min-width: 1200px) {
   .btn-text {
  
      width: 300px;
   }
}



