.auth-card {
    padding: 50px 20px;
    border-radius: 20px;
}

.auth-card-title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #263238;
    font-weight: normal;
    margin-bottom: 50px;
}

@media (min-width: 768px) {

    .auth-card {
        padding: 80px 20px;
        min-width: 600px;
    }    
}