.auth-container {
    padding: 10px; 
}

.auth-info {
    display: none;
}

@media (min-width: 576px) {
    .auth-container {
        padding: 20px 60px;
    }
}

@media (min-width: 992px) {
    .auth-container {
        padding: 30px 80px;
    }
}

@media(min-width: 1200px) {
   
    .auth-container {
        display: flex;
    }

    .auth-info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        text-align: center;
    }

    .auth-info h1 {
       
        margin-bottom: 10px;
        font-size: 40px;
    }

    .auth-info p {
        
        color: #9e9e9e;

    }

    .auth-image img {
        border-radius: 50%;
        width: 80%;
    }

    .auth-form-content {
        width: 60%;
    }


}