.doc-filters-days-container {
    display: flex;
}

.doc-filters-days-container select {
    margin-right: 10px;
    width: 100%;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1;
    font-weight: bold;
}

@media (min-width: 1200px) {
     
}