.div-construction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  color: rgb(179, 20, 20);
}

.div-construction h4 {
  transform: scale(0.8);
  transition: 2s;
  &:hover {
    transition: 2s;
    transform: scale(1);
  }
}

.text-goback {
  transition: 2s;
  margin: 30px 0 0 0;
  color: rgb(179, 20, 20);

  &:hover {
    transition: 2s;
    transform: scale(1.5);
  }
}

.home-img-construction {
  width: 100vh;
}
