.btn-btn-container {
   display: flex;
   justify-content: center;
   margin-bottom: 5px;
   transform: scale(0.9);
   transition: 1s;
    
    &:hover {
        transition: 1s;
        transform: scale(1.2);
        font-weight: bold;
    }
}

.btn-btn-text {
   border-radius: 10px;
   background-color: #24231f;
   border: #24231f;
   text-transform: uppercase;
   color: #FFF;
   width: 300px;
   height: 40px;
   padding: 5px;
}

.btn-btn-text h6 {
  font-size: 18px; 
}

.btn-btn-arrow {
   padding: 5px;
   background-color: #2d769a;
   border-radius: 0px 10px 10px 0;
   display: flex;
   justify-content: center;
   max-height: 40px;
}

.btn-btn-arrow img {
  width:40%;
}

@media (min-width: 425px) {
   .btn-btn-text {
  
      width: 350px;
   }

   .btn-btn-arrow {
      width: 20%;
   }
}

@media (min-width: 576px) {
   .btn-btn-text {
  
      width: 400px;
   }

   .btn-btn-arrow {
      width: 20%;
   }
}

@media (min-width: 768px) {
   .btn-btn-text {
  
      width: 400px;
   }
}

@media (min-width: 1024px) {
   .btn-btn-text {
  
      width: 500px;
   }
}

@media (min-width: 1200px) {
   .btn-btn-text {
  
      width: 300px;
   }
}



