.dt-medicalV-period-container {
    padding: 10px 10px 90px 10px;
}

.dt-medicalV-period-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dt-medicalV-period-form input {
    margin-bottom: 5px;
}