.auth-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    height: 100%;
}

.auth-card-title {
    text-transform: uppercase;
    margin: 20px 0 60px 0;
}

@media (min-width: 576px) {

    .auth-card {
        padding: 20px 30px; 
    }

    .auth-card-children {
        width: 100%;
    }
   
}

@media (min-width: 768px) {

    .auth-card {
        padding: 20px 60px; 
    }
   
}

@media (min-width: 992px) {

    .auth-card {
        padding: 20px 90px; 
    }  
}