.btn-container {
   display: flex;
   justify-content: center;

   transform: scale(0.9);
    transition: 1s;
    
    &:hover {
        transition: 1s;
        transform: scale(1);
        font-weight: bold;
    }

}

.btn-text {
   border-radius: 10px 0px 0px 10px;
   background-color: #24231f;
   border: #24231f;
   text-transform: uppercase;
   color: #FFF;
   width: 120px;
   height: 30px;
   padding: 5px;
}

.btn-text h6 {
  font-size: 10px; 
}

.btn-arrow {
   padding: 5px;
   background-color: #2d769a;
   border-radius: 0px 10px 10px 0;
   display: flex;
   justify-content: center;
   max-height: 40px;
}

.btn-arrow img {
  width:40%;
}

@media (min-width: 1200px) {

   .btn-text {
 
      height: 40px;

   }

   .btn-text {
  
      width: 420px;
   }

   .btn-text h6 {
      font-size: 18px; 
    }
}



