.doctor-filters-container {
    display: flex;
    flex-direction: column;
}

.doctor-filters-container button {
    margin-top: 5px;
    margin-bottom: 30px;
}

.doctor-input-search {
    display: flex;
    align-items: center;
}

.doctor-input-search input {
    margin: 10px 5px 5px 0;
}