.visitDT-header {
    display: flex;
    align-items: center;
    padding: 0px 20px 0 20px;
}

.visitDT-goback {
    display: flex;
    align-items: center;
}

.visit-filter-container {
    display: flex;
    padding: 10px;
    align-items: center;
}

  .visitDT-icon-goback {
    color: #2d769a;
    transform: rotate(-180deg);
    margin-right: 30px;
  }

@media (min-width: 1200px) {
    .visit-filter-container {
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
        max-width: 900px;
    }   
}