.admin-nav-container {
    padding: 20px 10px 0 10px;
    text-align: center;
}

.admin-nav-container ul {
    display: block;
}

.admin-nav-container li {
    margin-bottom: 15px;
    transform: scale(0.9);
    transition: 1s;
    
    &:hover {
        transition: 1s;
        transform: scale(1.1);
    }

}

.admin-nav-item {
    border-radius: 40px;
    
    background: rgba(64, 123, 255, 0.3);
   
    padding: 5px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    transition: 1s;

    &.active {
        background: #2d769a;
        color: #FFF;
    }

    &:hover {
        
        transition: 1s;
        transform: scale(0.9);
        font-weight: bold;
    }

}

@media(min-width: 768px) {
    
    .admin-nav-container ul {
        display: flex;
        justify-content: center;
    }

    .admin-nav-container li {
        margin-right: 10px;
    }
}

@media(min-width: 1200px) {

    .admin-nav-container {
       background: #FFF;
       margin-right: 30px;
    }
    
    .admin-nav-container ul {
        display: flex;
        flex-direction: column;
    }

    .admin-nav-item {
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        background: #F2F2F2;
        color: #FFF;
        padding: 5px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
        color: rgb(10, 10, 10);
        min-width: 200px;
    
      
    
    }
}

