.home-container {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    padding-bottom: 49px;
}

.home-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    transform: scale(0.9);
    opacity:0.8;
    transition: 2s;
}

.home-title:hover {
    opacity:1;
    transition: 2s;
    transform: scale(1);
    background-color: #2d769a;
    color: #FFF;
}

.home-title span {
   font-size: 25px;
}

.home-title img {  
    width: 40%;
    border-radius: 50%;     
}

.home-target {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #2d769a;
}

.home-target p {
    font-weight: bold;
    font-size: 10px;
    color: #FFF;
}

.home-target img {
    width: 40%;
    border-radius: 20px;
    margin-right: 10px;
}

.home-carousel {
    display: flex;
    overflow-x: scroll;
    padding: 10px 50px 10px 40px;
    background-image: linear-gradient(#2d769a, #c6d1d6);
}

.home-carousel-item {
    transform: scale(0.8);
    transition: 4s;
    padding: 0 30px;
    background-color: linear-gradient(#2d769a, #c6d1d6);
    &:hover {
        transform: scale(1);
        transition: 4s;
        color: #FFF;
    }
}

.home-carousel-item h6 {
   margin: 5px 0;
}

.home-carousel-item img {
    height: 150px;
    border-radius: 50px;
    transition: 3s;
    &:hover {
        border-radius: 200px;
        transition: 2s;
    }
 }

.home-sections {
    display: flex;
    padding: 10px 20px;
    transform: scale(0.8);
    opacity:0.8;
    transition: 2s;
    width: 100%;
}

.home-sections:hover {
    opacity:1;
    transition: 2s;
    transform: scale(1);
    background-color: #2d769a;
    color: #FFF;
}

.home-sections span {
   font-size: 20px;
}

.home-sections-img {    
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.home-sections-img img {    
    width: 55%;
    border-radius: 50%;
    transition: 2s;
    &:hover {
        transition: 2s;
        border-radius: 20%;
    }     
}

.padd-social {
    padding: 50px 0;
}


.home-sections-btn button {
    width: 100%;
    transform: scale(0.9);
    opacity:0.8;
    transition: 2s;

    &:hover {
        opacity:1;
        transition: 2s;
        transform: scale(1.1);
    }
}

@media(min-width:375px) {
    .home-target p {
        font-size: 12px;
    }
}

@media(min-width: 425px) {

    .home-title span {
        font-size: 45px;
    }

    .home-title p {
        font-size: 14px;
    }

    .home-target p {
        font-size: 14px;
    }

    .home-sections {    
        justify-content: center;
    }

    .home-sections-img {   
        max-width: 150px;
    }

    .home-sections-img img {   
        width: 100%;
    }

    .home-sections-btn {
        min-width: 100px;
    }

    .home-sections-btn button {
        max-width: 100px;
    }
}

@media(min-width: 768px) {

    .home-title img {  
        width: 35%;     
    }

    .home-title span {
        font-size: 85px;
    }

    .home-title p {
        font-size: 18px;
    }

    .home-target p {
        font-size: 16px;
    }

    .home-target img {
        width: 20%;
    }

    .home-sections {    
        justify-content: center;
    }

    .home-sections-img {   
        max-width: 300px;
    }

    .home-sections-img img {     
        width: 50%;    
    }

    .home-sections-btn {
        min-width: 300px;
    }

    .home-sections-btn button {
        max-width: 200px;
    }
}

@media(min-width: 1200px) {

    .home-carousel-item img {
        height: 250px;
     }

     .home-target img {
        margin-right: 50px;
    }

    .home-target p {
        font-size: 20px;
    }
}


