@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  scroll-behavior: target_top;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  &:hover {
    text-decoration: none;
    color: unset;
  }
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

.base-card {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.base-input {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #263238;
  height: 50px;

  &::placeholder {
    color: #9e9e9e;
  }
}

.btn-outline-secondary {
  color: #9e9e9e;
}

.title-dash-success {
  font-size: 18px;
  color: black;
}

.dt-body-td {
  font-size: 12px;
}

.active-catalog-card {
  opacity: 0.8;
  transition: 2s;
  transform: scale(0.9);

  &:hover {
    opacity: 1;
    transition: 2s;
    transform: scale(1);
  }
}

.details-goback {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.details-goback svg {
  color: #2d769a;
  transform: rotate(-180deg);
  margin-right: 30px;
}

// CSS FILTROS MÉDICOS INÍCIO

.hp-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
}

.visit-filters-container {
  max-height: 200px;
}

.hp-filters-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d769a;
  border-radius: 20px 20px 0 0;
}

.hp-filters-title svg {
  margin-left: 10px;
}

.hp-input-search input {
  margin-top: 5px;
  border: none;

  &::placeholder {
    color: #9e9e9e;
  }

  &:focus {
    box-shadow: none;
  }
}

.hp-select-btn button {
  border-radius: 0 0 20px 20px;
  background-color: #2d769a;
  height: 50px;
  width: 100%;
}

.hp-filter-select-container {
  margin: 0 3px;

  .hp-specializations-select__control {
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .hp-specializations-select__indicator-separator {
    display: none;
  }

  .hp-specializations-select__placeholder {
    color: #8a8787;
    font-size: 14px;
  }
}

.prescription-filter-select-container {
  margin: 0 3px;

  .prescription-product-select__control {
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .prescription-products-select__indicator-separator {
    display: none;
  }

  .prescription-products-select__placeholder {
    color: #8a8787;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .visit-filters-container {
    max-height: 120px;
  }

  .hp-filters-container {
    padding-bottom: 10px;
    height: 170px;
  }

  .hp-input-search {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
  }

  .hp-input-search input {
    border-bottom: 1px solid #e1e1e1;
    width: 200px;
  }

  .hp-select-btn {
    flex-direction: row;
    justify-content: space-around;
  }

  .hp-specializations-select__control {
    width: 500px;
  }

  // Estilização de forms INÍCIO

  .mix-form-two-input {
    display: flex;
    justify-content: center;
  }

  .phone-input {
    max-width: 320px;
    min-width: 320px;
  }

  .cidade-input {
    margin-right: 5px;
    margin-left: 5px;
  }

  .uf-input {
    max-width: 60px;
  }
}

// Estilização de forms FIM

@media (min-width: 1024px) {
  .hp-input-search input {
    width: 250px;
  }

  .hp-specializations-select__control {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  .hp-input-search input {
    width: 400px;
  }

  .hp-specializations-select__control {
    width: 850px;
  }
}

// CSS FILTROS MÉDICOS FIM
