.visit-filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (min-width: 1200px) {
    .visit-filter-container {
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
      
    }   
}