.admin-hp-list-container {
  padding: 10px;
}

.admin-hp-btn-add {
  width: 100%;
}

.admin-content-container {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .admin-hp-list-container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .admin-hp-list-container {
    padding: 20px 0px 20px 25px;
  }
}
