.dash-container {
    padding: 10px;
}

.dash-places {
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
}

.dash-places h6 {
    text-align: center;
    margin: 10px 0;
}

@media(min-width:425px) {
    .dash-places {
        font-size: 14px;
    }
}